<!doctype html>
<html lang="zh-cn">
<head>
    <title>关于我们</title>
    <!-- loadstyle start -->
    {include file="../application/index/common/layout_css.html" /} 
    <!-- loadstyle end -->
</head>
<body>
  <!-- header start -->
  {include file="../application/index/common/header.html" /} 
  <!-- header end -->

  <!-- banner start -->
  {include file="../application/index/common/banner.html" /} 
  <!-- banner end -->
  <div class="hb-back">
    <div class="container">
      <div class="news-click nav-open">关于我们<span><i class="glyphicon glyphicon-menu-down"></i></span></div>
      <div class="clearfix list-header title-header">
        <ul class="pull-left clearfix list-tabs">
          <span class="nav-open"><i class="glyphicon glyphicon-remove"></i></span>
            <li class="active"><a href="javascript:void">公司介绍</a></li>
            <li ><a href="{:url('style/index')}">员工风采</a></li>
        </ul>
        <div class="pull-right nav-b">当前位置：<a href="">首页</a> > <a href="javascript:void">关于我们</a> > <a href="">公司介绍</a></div>
      </div>
      <!-- <div class="article-tt text-center">{$aboutus.title}</div> -->
      <div class="article-p">
        {$aboutus.content}
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="title">合作伙伴</h1>
    <div class="hb-swiper">
      {volist name="partners" id="partner"}
        <div>
          <a href="{$partner.url}" target="_blank" title="{$partner.desc}"><img src="__IMG__/{$partner.pic}"></a>
        </div>
      {/volist}
    </div>
  </div>
  <!-- footer start -->
  {include file="../application/index/common/footer.html" /} 
  <!-- footer end -->
</body>
<!-- loadjavascript start -->
{include file="../application/index/common/layout_js.html" /} 
<!-- loadjavascript end -->

</html>