<!doctype html>
<html lang="zh-cn">
<head>
    <title>入孵指南</title>
    <!-- loadstyle start -->
    {include file="../application/index/common/layout_css.html" /} 
    <!-- loadstyle end -->
</head>
<body>
  <!-- header start -->
  {include file="../application/index/common/header.html" /} 
  <!-- header end -->

  <!-- banner start -->
  {include file="../application/index/common/banner.html" /} 
  <!-- banner end -->
  <div class="hb-back">
    <div class="container">
      <div class="clearfix title-header">
        <h1 class="pull-left title-xs">入孵指南</h1>
        <div class="pull-right nav-b">当前位置：<a href="/">首页</a> > <a href="javascript:void">入孵指南</a></div>
      </div>
      <ul class="news-list news-list-ul clearfix">
        {volist name="enteringres" id="entering"}
        <li>
          <div class="news-img img-hide"><a href="{:url('entering/detail',array('id'=>$entering['id']))}"><img src="__INDEX__/images/banner.jpg"></a></div>
          <div class="news-tt"><a href="{:url('entering/detail',array('id'=>$entering['id']))}">{$entering.title}</a></div>
          <!-- <div class="news-p">{$entering.content}</div> -->
          <div class="news-bottom">{$entering.create_time}<a href="{:url('entering/detail',array('id'=>$entering['id']))}">阅读详细</a></div>
        </li>
      {/volist}
      </ul>
      {$enteringres->render()}
    </div>
  </div>
  <div class="container">
    <h1 class="title">合作伙伴</h1>
    <div class="hb-swiper">
      {volist name="partners" id="partner"}
        <div>
          <a href="{$partner.url}" target="_blank" title="{$partner.desc}"><img src="__IMG__/{$partner.pic}"></a>
        </div>
      {/volist}
    </div>
  </div>
  <!-- footer start -->
  {include file="../application/index/common/footer.html" /} 
  <!-- footer end -->
</body>
<!-- loadjavascript start -->
{include file="../application/index/common/layout_js.html" /} 
<!-- loadjavascript end -->

</html>