<!doctype html>
<html lang="zh-cn">
<head>
    <title>走进孵化器</title>
    <!-- loadstyle start -->
    {include file="../application/index/common/layout_css.html" /} 
    <!-- loadstyle end -->
</head>
<body>
  <!-- header start -->
  {include file="../application/index/common/header.html" /} 
  <!-- header end -->

  <!-- banner start -->
  {include file="../application/index/common/banner.html" /} 
  <!-- banner end -->

  <div class="hb-back">
    <div class="container">
        <div class="news-click nav-open">走进孵化器<span><i class="glyphicon glyphicon-menu-down"></i></span></div>
        <div class="clearfix list-header title-header">
          <ul class="pull-left clearfix list-tabs">
            <span class="nav-open"><i class="glyphicon glyphicon-remove"></i></span>
            <li class="active"><a href="javascript:void(0);">孵化器简介</a></li>
            <li><a href="{:url('office/index')}">办公环境</a></li>
            <li><a href="{:url('mechanism/index')}">服务机构</a></li>
          </ul>
            <div class="pull-right nav-b">当前位置：<a href="/">首页</a> > <a href="javascript:void">走进孵化器</a> > <a href="javascript:void">孵化器简介</a></div>
        </div>

            <div class="article-p">
              {$incubator.content}
            </div>
        </div>
    </div>
  <div class="container">
    <h1 class="title">合作伙伴</h1>
    <div class="hb-swiper">
      {volist name="partners" id="partner"}
        <div>
          <a href="{$partner.url}" target="_blank" title="{$partner.desc}"><img src="__IMG__/{$partner.pic}"></a>
        </div>
      {/volist}
    </div>
  </div>
  <!-- footer start -->
  {include file="../application/index/common/footer.html" /} 
  <!-- footer end -->
</body>
<!-- loadjavascript start -->
{include file="../application/index/common/layout_js.html" /} 
<!-- loadjavascript end -->

</html>